<!doctype html>
<html lang="ko-kr" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid ">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/users/save}" method="post" th:object="${user}"
    style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" >
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-amil</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required minlength="8" maxlength="45">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="45">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" required minlength="2" maxlength="15">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">저장</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">취소</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/users}]]";
    }

</script>
</body>
</html>